.formWrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.30);
}
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    border-radius: 10px;
    min-width: 200px;
    background: white;
}
.form > input {
    padding: 5px;
}
.form > input:focus {
    box-shadow: 10px 5px 5px blue;
}
.form > label {
    font-size: 22px;
    letter-spacing: 0.5;
    font-weight: 900;
}
.button {
    background: blue;
    font-size: 22px;
    padding: 5px;
    color: white;
}
.error {
    color: red;
    font-weight: 900;
}
.buttonWrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
