.list {
    display: flex;
    flex-wrap: wrap;
    max-width: 1160px;
    margin: 0 auto;
    gap: 20px;
    list-style: none;
    justify-content: center;
}

.listWrapper {
    padding-top: 80px;
}
