.modal {
    background-color: #fffF;
    border-radius: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 56px;
    width: 560px;
    box-sizing: border-box;
    position: relative;
}
.close {
    position: absolute;
    top: 20px;
    right: 20px;
}
.btnWrapper {
    display: flex;
    justify-content: space-between;
}
.img {
    margin-bottom: 85px;
}