.table{
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    border: 1px solid black;
}
.table th, .table td {
    padding: 10px;
    border: 1px solid black;
}
.table thead {
    background-color: aqua;
}
.img {
    height: 150px;
    max-width: 100%;
}